@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.5;
    font-family: Montserrat, sans-serif;
    color: #333
}

a, a:focus, a:visited {
    color: #333;
}

.items-list-container a, .items-list-container a:focus, .items-list-container a:visited {
    text-decoration: none;
}

main hr {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

main h1 {
    margin-left: .5rem;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.items-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px
}

.items-list-container li {
    background-color: white;
    padding: 20px;
    border: 2px solid darkgray;
    border-radius: 5%;
    text-align: center;
    margin-top: .5rem;
}

.item-image-preview {
    box-sizing: inherit;
    max-width: 200px;
    max-height: 200px;
    padding: 1rem;
}

.buy-button {
    background: cornflowerblue;
    color: whitesmoke;
    border-radius: 6px;
    padding: 10px;
    min-width: 100px;
}

.cart-container {
    background: antiquewhite;
}

nav {
    display: flex;
}

.navbar-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: .5rem;
}

.authentication-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.authentication-container a {
    margin: .5rem;
}

.categories-list-container {
    margin: .5rem;
}

.categories-list-container li {
    margin-top: .25rem;
}

.categories-list-container {
    color: darkgray;
}